<div class="col-lg-12 ">

	<div class="col-md-4 col-sm-3  hidden-xs">
	</div>
	<div class="col-md-4 col-sm-6 col-sm-12">
		
		<div ng-controller="loginCtrl" class="form innerPage login">
			<ngform style="position: relative; width: 200px;"></ngform>

			
			<div class="h14-7F7E7A t-center" >
				<div>
					<a href="#" ng-click="loginFacebook()">
						<span class="h14Bold-7F7E7A">Login with Facebook</span></a>
				</div>
				
				<div>
					<a href="#" ng-click="loginTwitter()"><span class="h14Bold-7F7E7A">Login with Twitter</span></a>
				</div>
				
				<div>
					<a href="#" ng-click="loginGoogle()"><span class="h14Bold-7F7E7A">Login with Google</span></a>
				</div>
				
				<br>
				<span>Don't have an account?</span> &nbsp; &nbsp;
				<a class="orangeLink" href="/register"><span>Create Account</span></a>
				<div>
					<br>
					<a href="/forgotPassword"><span class="h14Bold-7F7E7A">Forgot Password?</span></a>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-4 col-sm-3 hidden-xs ">
	</div>
</div>
<div style="clear: both; height: 10px;">&nbsp;</div>