<div ng-controller="registerCntrl" class="container-main-width innerPage uracPath">

	<div class="account-env borderRoundedBox">
		<div class="h21semiBold t-center"><b>Create your account here</b></div>
		<br>
		<div class="">
			<ngform></ngform>
		</div>
	</div>
	<br/>
	<div class="h14-7F7E7A t-center">
		<span>Already have an account?</span> &nbsp; &nbsp;
		<a class="orangeLink" href="/login"><span>Sign In</span></a>
	</div>
</div>