<div ng-controller="ordersDevCtrl">
		<section class="membersCtrl">
			<div class="w100 c-both table">
				<a class="f-right btn btn-primary" ng-click="orders.refresh()" href="">
					{{translation.refreshListing[LANG]}}
				</a>
			</div>
			<nglist></nglist>
		</section>
</div>