<div id="footer">
	<div class="container-main-width">
		<div class="footer-content"></div>
		<div class="copyright">
			  Copyright &copy; 2017
			<a title="SOAJS Website" href="http://soajs.org/" target="_blank">SOAJS</a>.
		</div>
	</div>
</div>